.col-md-12{
    background-color: #1e1e1e;
    border-radius: 5px !important;
    color: white;

}

.media{
border-color: green !important;
border-radius: 3px;
border-bottom: groove !important;

}

.country-n{
    font-size: 15px !important;
    margin-top: 3px;
}
.country-show{
    background-color: #1e1e1e;
    border-radius: 5px;
    min-width: 200px!important;
    height: 40px !important;
}